spring:
  application:
    name: card-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/cards_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

server:
  port: 8080
  servlet:
    context-path: /api