spring:
  application:
    name: zilch-card-service
  datasource:
    url: jdbc:postgresql://localhost:5432/card_service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  servlet:
    context-path: /api
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      auto-offset-reset: earliest
      group-id: card-service-group
    producer:
      acks: all
      retries: 3
    properties:
      linger.ms: 10
      batch.size: 32768

server:
  port: 1234

external:
  visa:
    url: http://localhost:8081
  mastercard:
    url: http://localhost:8082

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
